<h2>Your comments</h2>
<ul>
  {{#each comments}}
    <li>{{this.comment_text}}</li>
  {{/each}}
</ul>



{{#if query.logout}}
  <p>Successfully logged out</p> <!-- Display "Logged out" when user is logged in -->
  <a href="/login">Login</a>
  <a href="/signup">Sign up</a>
{{else}}
  {{#if logged_in}}
    <p>Logged in</p> <!-- Display "Logged in" when user is logged in -->
    <a href="/logout" id="logout">Logout</a>
  {{/if}}
  {{#if userCreated}}
    <p>User created successfully!</p> <!-- Display "User created successfully" when a new user is signed up -->
  {{/if}}
  {{#unless logged_in}}
    <a href="/login">Login</a>
  {{/unless}}
  {{#unless userCreated}}
    <a href="/signup">Sign up</a>
  {{/unless}}
{{/if}}

<script src="/public/logout.js"></script>